*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
html, body {
    height: 100%;
    overflow: hidden;
}
.velikost {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}
.stylos .form-items {
    border: 3px solid #000000;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    border-radius: 10px;
    text-align: left;
}
.stylos input[type=text], .stylos input[type=password], .stylos input[type=email], .stylos select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border-radius: 6px;
    background-color: #fff;
    font-weight: 300;
    margin-top: 16px;
}   
input, select{
    height: 3.3rem;
    max-height: 3.3rem;
    
    
}
input:checked + label{
    background: var(--fourth-color) ;
    box-shadow: 1px 2px 32px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 32px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 32px -3px rgba(0,0,0,0.75);
}
.radio input{
    visibility: hidden;
    cursor: pointer;
}
:root{
    --primary-color: rgb(233, 154, 59);
    --secondary-color: rgb(131, 131, 131);
    --third-color:white;
    --fourth-color:  rgb(160, 160, 160)
}