
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
#logo{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    

}
.text-primary{
    color: firebrick;
}
#bar{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    
}
#bar a{
    color: darkblue;
    text-decoration: none;
}
#bar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
#bar ul li {
    padding:  0.75rem;
    margin: 0.25rem;
}
#bar ul li :hover{
    background-color: dodgerblue;
    border-radius: 5px;
}